*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.cal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 300px;
    height: min-content;
    background-color: white;
    box-shadow: 3px 8px 8px gray;
    border-radius: 15px;
}

.display-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.data{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 5px;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 250px;
    box-shadow: 1px 1px 3px gray;
    cursor: pointer;
}

.button-container{
    display: grid;
    padding: 15px;
    gap: 10px;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
}

button{
    height: 45px;
    width: 45px;
    border-radius: 20%;
    background-color: whitesmoke;
    font-weight: bolder;
    border: none;
    box-shadow: 1px 2px 1px gray;
    cursor: pointer;
}

button:hover{
        background-color: white;
}
